
<div class="myBack">
    <div class="container">
        <div class="row text-center  pb-3">
        <div class="col-md-6 col-lg-3 mt-5">
        
        <p class="text-left text-white">Duis vitae nunc nec lectus sollicitudin commodo. Suspendisse vel vehicula purus, quis gravida magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Vivamus a ante est. Aenean auctor augue in cursus mattis. Fusce ligula justo, pretium vitae mattis id, bibendum at lectus. Donec fringilla mollis sem vitae suscipit. Cras vehicula tincidunt tortor, 
            sed ornare dolor tincidunt quis.
        <ul class="list-inline">
        <li class="list-inline-item">
        <a class="btn border px-1 py-0  mx-1" href="#">
            <i class="fab fa-facebook text-white" aria-hidden="true"></i>
        </a>
        </li>
        <li class="list-inline-item">
        <a class="btn border px-1 py-0  mx-1" href="#">
            <i class="fab fa-instagram text-white" aria-hidden="true"></i>
        </a>
        </li>
        <li class="list-inline-item">
        <a class="btn  border px-1 py-0  mx-1" href="#">
            <i class="fab fa-whatsapp text-white" aria-hidden="true"></i>
        </a>
        </li>
        <li class="list-inline-item">
        <a class="btn border px-1 py-0  mx-1" href="#">
            <i class="fab fa-twitter text-white" aria-hidden="true"></i>
        </a>
        </li>
        <li class="list-inline-item">
        <a class="btn  border px-1 py-0  mx-1" href="#">
            <i class="fab fa-linkedin text-white" aria-hidden="true"></i>
        </a>
        </li>
        <li class="list-inline-item">
        <a class="btn  border px-1 py-0  mx-1" href="#">
            <i class="fab fa-youtube text-white" aria-hidden="true"></i>
        </a>
        </li>
        </ul>
        </p>
        </div>
        <div class="col-md-6 col-lg-3 mt-5 ">
        <h6 class="text-uppercase mb-4 text-white">Useful links</h6>
        <p>
        <a href="#" >Services</a>
        </p>
        <p>
        <a href="#" >About</a>
        </p>
        <p>
        <a href="#" >Contact</a>
        </p>
        </div>
        <div class="col-md-6 col-lg-3 mt-5">
        <h6 class="text-uppercase mb-4 text-white ">Contact</h6>
        <p class="text-white">
            <i class="fa fa-home text-white mr-3" aria-hidden="true"></i> Amiur International Pvt Ltd RailRecipe,<br>
        at 704, 7th Floor,<br>
        patna One Mall,<br>
        Near Dak Bunglow Crossing,Patna<br>
        </p>
        <p>
        <i class="fa fa-envelope mr-3 text-white" aria-hidden="true"></i>
            <a href="#" >email@gmail.com</a>
        </p>
        <p>
            <i class="fa fa-phone mr-3 text-white" aria-hidden="true"></i> 
            <a href="#" >+91 00 00 00 00 00</a>
        </p>
        <p>
            <i class="fa fa-whatsapp mr-3 text-white" aria-hidden="true"></i> 
            <a href="#" >+91 00 00 00 00 00</a>
        </p>
        </div>
        </div>
    </div>
     <hr class="bg-white">
     <div class="footer-copyright text-white text-center pb-3">
        Copyright: <span>&#169</span> 2021
        <a href="#">
            <span class="text-blue">Amiure Group</span>
        </a>
        All Rights Reserved.
    </div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



  


 </body>
</html>