<%- include('partials/header') %>




 <!-- <div class="panel">

  <div class="pricing-plan">
      <img src="icons/icon1.png" alt="" class="pricing-img">
      <h2 class="pricing-header">Personal</h2>
      <ul class="pricing-features">
          <li class="pricing-features-item">Custom domains</li>
          <li class="pricing-features-item">Sleeps after 30 mins of inactivity</li>
      </ul>
      <span class="pricing-price">Free</span>
      <a href="#/" class="pricing-button">Sign up</a>
  </div>

  <div class="pricing-plan">
      <img src="icons/icon2.png" alt="" class="pricing-img">
      <h2 class="pricing-header">Small team</h2>
      <ul class="pricing-features">
          <li class="pricing-features-item">Never sleeps</li>
          <li class="pricing-features-item">Multiple workers for more powerful apps</li>
      </ul>
      <span class="pricing-price">$150</span>
      <a href="#/" class="pricing-button is-featured">Free trial</a>
  </div>

  <div class="pricing-plan">
      <img src="icons/icon3.png" alt="" class="pricing-img">
      <h2 class="pricing-header">Enterprise</h2>
      <ul class="pricing-features">
          <li class="pricing-features-item">Dedicated</li>
          <li class="pricing-features-item">Simple horizontal scalability</li>
      </ul>
      <span class="pricing-price">$400</span>
      <a href="#/" class="pricing-button">Free trial</a>
  </div>

</div>  -->


<!-- dashboard course using card views -->
 <div class="container">
    <div class="row row-cols m-3">
      <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="https://analyticsinsight.b-cdn.net/wp-content/uploads/2020/11/Artificial-Intelligence-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">web development 2022</h5>
              <p class="card-text">Mr xyz...,Mrs fgcgv,hbj iuuij,creator john..</p>
              <div class="d-grid gap-2 col-12 mx-auto">
                <a  href="#" class="btn btn-info" type="button">Get Started</a>
                </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="https://analyticsinsight.b-cdn.net/wp-content/uploads/2020/11/Artificial-Intelligence-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> web development 2022</h5>
              <p class="card-text">Mr xyz...,Mrs fgcgv,hbj iuuij,creator john..</p>
              <div class="d-grid gap-2 col-12 mx-auto">
                <a href="#" class="btn btn-info" type="button">Get Started</a>
                </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="https://analyticsinsight.b-cdn.net/wp-content/uploads/2020/11/Artificial-Intelligence-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">web development 2022</h5>
              <p class="card-text">Mr xyz...,Mrs fgcgv,hbj iuuij,creator john...</p>
              <div class="d-grid gap-2 col-12 mx-auto">
                <a href="#" class="btn btn-info" type="button">Get Started</a>
                </div>
            </div>
          </div>
      </div>
      
    </div>
    <div class="row row-cols m-3">
      <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="https://analyticsinsight.b-cdn.net/wp-content/uploads/2020/11/Artificial-Intelligence-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">web development 2022</h5>
              <p class="card-text">Mr xyz...,Mrs fgcgv,hbj iuuij,creator john..</p>
              <div class="d-grid gap-2 col-12 mx-auto">
                <a  href="#" class="btn btn-info" type="button">Get Started</a>
                </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="https://analyticsinsight.b-cdn.net/wp-content/uploads/2020/11/Artificial-Intelligence-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> web development 2022</h5>
              <p class="card-text">Mr xyz...,Mrs fgcgv,hbj iuuij,creator john..</p>
              <div class="d-grid gap-2 col-12 mx-auto">
                <a href="#" class="btn btn-info" type="button">Get Started</a>
                </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 24rem;">
            <img src="https://analyticsinsight.b-cdn.net/wp-content/uploads/2020/11/Artificial-Intelligence-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">web development 2022</h5>
              <p class="card-text">Mr xyz...,Mrs fgcgv,hbj iuuij,creator john...</p>
              <div class="d-grid gap-2 col-12 mx-auto">
                <a href="#" class="btn btn-info" type="button">Get Started</a>
                </div>
            </div>
          </div>
      </div>
      
    </div>
    
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-5 gobackbutton ">
    <a href="/course" class="btn btn-secondary" type="button">Go back to courses</a>
   </div> 

  <%- include('partials/footer') %>