

<%- include('partials/header') %>


    <!-- FLASH MESSAGES -->
<% if(messages && messages.length){ %>
    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show  fw-bold" role="alert">
        <i class="fas fa-exclamation-triangle m-2"></i>
        
            <%= messages %>
        
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>

<!-- signup form -->
<section class="signup-section">
    <div class="container mt-5">
    <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
    <div class="login-wrap p-4 p-md-5">
    <div class="icon d-flex align-items-center justify-content-center">
        <i class="fas fa-user fa-4x"></i>
    </div>
    <h3 class="text-center mb-4">Sign up</h3>
    <form action="/signup" class="validated-form" method="POST">
    <div class="form-group my-3">
        <input type="email" class="form-control rounded-left" name="email" placeholder="email" required>
    </div>
    <div class="form-group my-3">
        <input type="text" class="form-control rounded-left" name="username" placeholder="username" required>
    </div>
    <div class="form-group d-flex my-3">
        <input type="password" class="form-control rounded-left" name="password" placeholder="Password" required>
    </div>
    <div class="form-group my-3">
    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button>
    </div>
    <div class="form-group d-md-flex">
    <div class="w-50">
    <label class="checkbox-wrap checkbox-primary">Remember Me
    <input type="checkbox" checked>
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>








<%- include('partials/footer') %>